.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#toggleButton {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 44px;
  border: 2px solid #b6b6b6;
  background-color: lightgray;
  outline: none;
  border-radius: 30px;
  transition: 0.3s;
}

#toggleButton:before {
  content: "";
  position: absolute;
  margin-top: 3px;
  margin-left: 4px;
  width: 34px;
  height: 34px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s ease;
}

#toggleButton:checked:before {
  transform: translateX(56px);
  background: white;
}

#toggleButton:checked {
  border-color: #b6b6b6;
  background-color: #76eb9d;
}
